<div class="header">
  <h1>版本信息</h1>
</div>

<mat-card class="version">
  <div class="row">
    <div class="left">SnetX 当前版本</div>
    <div class="right">{{ version?.ui }}</div>
  </div>
  <div class="row">
    <div class="left">SnetX 最新版本</div>
    <div class="right">{{ updateStatus?.ui.latest }}</div>
  </div>
  <div class="row">
    <div class="left">Snet Core 当前版本</div>
    <div class="right">{{ version?.core }}</div>
  </div>
  <div class="row">
    <div class="left">Snet Core 最新版本</div>
    <div class="right">{{ updateStatus?.core.latest }}</div>
  </div>
</mat-card>

<mat-progress-bar *ngIf="isDownloading" mode="determinate" [value]="progress"></mat-progress-bar>

<div class="bottom">
  <button
    [disabled]="isUpdateLoading"
    [class.loading-spinner]="isUpdateLoading"
    mat-raised-button
    (click)="checkUpdate()"
  >
    检测最新版本
  </button>

  <button *ngIf="updateStatus?.core.update" mat-raised-button (click)="update()">
    下载最新Core
  </button>

  <button *ngIf="updateStatus?.ui.update" mat-raised-button (click)="openUiDownloadUrl()">
    下载最新UI
  </button>

  <button [routerLink]="['/dashboard']" mat-raised-button>
    返回
  </button>
</div>
