<form [formGroup]="formGroup" *ngIf="!!item">
  <div class="label" fxFlex="1 1 auto">
    {{ item.value.label }} <span *ngIf="!item.value.disableLabelAppend"> ({{ item.key }})</span>
  </div>
  <div class="input" fxFlex="1 1 200px">
    <mat-form-field floatLabel="never" class="pwd">
      <mat-label></mat-label>
      <input
        [formControlName]="item.key"
        matInput
        [type]="!item.value.showPassword ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="item.value.showPassword = !item.value.showPassword"
        [attr.aria-label]="'隐藏密码'"
        [attr.aria-pressed]="!item.value.showPassword"
      >
        <mat-icon>{{ !item.value.showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
</form>
