<div class="settings" *ngIf="group" [formGroup]="group">
  <div *ngFor="let config of configSchema">
    <div class="settings">
      <div class="header" *ngIf="!config.hidden">
        <div class="title">
          {{ config.title }}
        </div>
      </div>
      <mat-card class="card">
        <app-box [formGroup]="group" [schema]="config.items"></app-box>
      </mat-card>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around">
    <button mat-raised-button color="primary" (click)="save()" [disabled]="isSaving">保存</button>
    <button
      mat-raised-button
      color="primary"
      (click)="remove()"
      *ngIf="group?.value._id"
      [disabled]="isSaving"
    >
      删除
    </button>
    <button mat-raised-button color="primary" [routerLink]="['/ss-list']">返回</button>
  </div>
</div>
