:host {
    width: 100%;
}

.settings {
    margin-bottom: 50px;

    .header {
        margin-bottom: 12px;
        margin-top: 21px;
        padding-top: 8px;

        letter-spacing: 0.25px;
    }

    .card {
        padding: 0;
    }
}
